@import '../scss/colors';

.Button {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid $color-primary-alt;
  min-height: 56px;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: 0px 8px 10px 0px rgba($color-primary, 0.25);
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;

  .Rates & {
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

.Button-primary {
  background-color: $color-primary-alt;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: darken($color-primary-alt, 16%);
  }
}

.Button-secondary {
  background-color: $color-white;
  color: $color-primary-alt;

  &:hover,
  &:focus {
    color: darken($color-primary-alt, 16%);
    border-color: darken($color-primary-alt, 16%);
    background-color: $color-white-hover;
  }
}
