@import "../scss/colors";

.Rates {
  border-top: 1px solid $color-border;
  padding-top: 0.75rem;
}

.Rates-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-border;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
}

.Rates-item > div:first-child {
  margin-right: 1.5rem;
}

.Rates-item > div:last-child {
  margin-left: auto;
}

// .Rates-item span {
//   overflow: hidden;
//   display: inline-block;
//   width: 32px;
//   height: 32px;
//   border-radius: 50%;
// }

.Rates-item img {
  vertical-align: middle;
  font-style: italic;
  margin-left: -8px;
  margin-top: -8px;
}

/* Loader */

.Rates-loader {
  text-align: center;
  padding-bottom: 2rem;
}

.Rates-loader-animation {
  animation: spinAround 500ms infinite linear;
  border: 2px solid $color-primary;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 3rem;
  position: relative;
  width: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Toggle more rates */

.Rates-list {
  display: none;
}

.Rates-list.is-active {
  display: block;
}
