.App {
  background-color: #fff;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 10px 0px rgba(209,209,209, 0.5);
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.App-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.App-title {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 400;
  text-align: center;
}